



h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 55px;
	color: #333;
}

article {
	font-family: 'Barlow', sans-serif;
}

p {
	font-family: 'Barlow', sans-serif;
}


/*--------------------------------------------------------------*/
/*landing page*/
#landingpage {
	height:500px;
	width: 100%;

	

}
#limg {
	width: 500px;
	position: relative;
	left: 30%;
	top: 55%;
	border: 2px solid;
	padding: 30px;
	max-width: 100%;
}

#ebtn {
	color: #333;
	background-color: whitesmoke;
	width: 100px;
	position: relative;
	left: 4%;
	top: 95px;
	max-width: 100%;
}
#ebtn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}



/*--------------------------------------------------------------*/

#myMenu {
	text-decoration: none;
	display: inline-flex;
	width: 100%;
	margin-left: 23%;
	position: fixed;
	z-index: 500;
	padding: 10px 25px;
	font-family: 'Nunito', sans-serif;


}

#myMenu img{
	width: 100px;
	height: 60px;
	max-width: 100%;
	

}

li, a {
	text-decoration: none;
	display: inline-flex;
	color: #333;
	padding: 10px 25px;
}

 a:hover {
	
	color: #e8ba8a;
}

/*---------------------------------------------------------------------*/

#home {
	background-color: white; 
	height:600px;
	width: 100%;
}

#home h1 {
	font-family: 'Nunito', sans-serif;
	position: relative;
	left: 100px;
	bottom: 450px;
	font-size: 65px;
}

#home img {
	width: 900px;
	height:500px;
	max-width: 100%;
	position: absolute;
	bottom: 26%;
	margin-left: 45%;
	
}

#c-space {
	background-color: #efe5d8;
	height: 500px;
	width: 800px;
	
}

#b1  {
	background-color: #333;
	color: white;
	position: relative;
	bottom: 60px;
	left: 98px;
}

#b2 {
	background-color: #333;
	color: white;
	position: relative;
	bottom: 170px;
	float: right;
	right: 20%;
}

#b1:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}

#b2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#home article {
	position: absolute;
	bottom: 45%;
	left: 95px;
	border-style: solid;
	border-width: 1.5px;
	
	padding: 30px;
	font-family: 'Barlow', sans-serif;
	background-color: rgba(245,245,245,0.1);
	width: 400px;
}


/*end home*/
/*---------------------------------------------------------------------*/

#about {
	height: 800px;
	background-color: #fefff7;
	width: 100%;
}

#about img {
	width: 800px;
	height:500px;
	max-width: 100%;
	position: absolute;
	bottom: -420px;
	left: 0px;
	

	
}



#about article {
	position: relative;
	left: 62%;
	top: 20%;
	width: 450px;


}



#hr1, #hr2 {
	width: 450px;
	color: black;
	border: solid 1px;
}

#sm-button {
	background-color: #333;
	color: white;
	position: relative;
	left: 62%;
	bottom: 190px;
	text-decoration: none;

}

#sm-button:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
	
}

/*end about*/
/*---------------------------------------------------------------------*/
#portfolio {
	background-color: white;
	height:900px;
	width: 100%;

}

.c-space4{
	background-color: #efe5d8;
	height: 500px;
	width: 800px;
}

#p-images {
	height: 850px;
	margin-top: 45px;
	margin-bottom: 40px;
}

#pimg {
	height: 250px;
	width: 350px;
	max-width: 100%;
	padding: 20px;
	position: relative;
	bottom: 400px;
	left: 25px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#pimg:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

#p-btn {
	background-color: #333;
	color: white;
	position: relative;
	text-decoration: none;
	bottom: 670px;
	left: 44%;
}
#p-btn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#porth1 {
	position: relative;
	bottom: 380px;
	left: 160px;
}
/*end portfolio*/
/*---------------------------------------------------------------------*/

#contact {
	background-color: #fefff7;
	height: 700px;
	width: 100%;


}

#contact img {
	width: 800px;
	height: 450px;
	max-width: 100%;
	margin-left: 15%;
	position: relative;
	top: 150px;

}




.git {
	position: relative;
	text-align: center;
	
	width: 400px;
	height: 200px;
	left: 50%;
	padding: 20px;
	bottom: 30%;
	border-style: solid;
	border-width: 1.5px;
	background-color: rgba(245,245,245,0.3);
	
	

}

.git h2 {
	font-size: 35px;
	font-family: 'Barlow', sans-serif;
}

.git h3 {
	font-size: 20px;
	font-family: 'Barlow', sans-serif;
}


/*end contact
*/
/*---------------------------------------------------------------------*/

footer {
	width: 100%;
	height: 300px; 
	margin-top: px;
	background-color: #333;
}

footer h1 {
	margin-top: 50px;
	margin-left: 550px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.follow-me {
	margin-top: 20px;
	margin-left: 0px;
}
#icon {
	color: white;
	font-size: 60px;
	padding: 25px;
	position: relative;
	left: 485px;
	bottom: 45px;
}
#icon:hover {
	color: #586352;
}

#fm {
	width: 600px;
	position: relative;
	left: 25px;

}


/*END OF MAIN PAGE*/
/*---------------------------------------------------------------------*/


/*START OF PORTFOLIO PAGE*/
#myMenu2 {
	text-decoration: none;
	display: inline-flex;
	width: 100%;
	margin-left: 22%;
	position: fixed;
	z-index: 500;
	padding: 10px 25px;
	font-family: 'Nunito', sans-serif;



}

#bck {
	position: relative;
	right: 150px;
	
	color: #333;
	height: 20px;
	padding: 10px 10px;

}



#bck:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}


#myMenu2 img{
	width: 100px;
	height: 60px;
	max-width: 100%;
	

}

li, a {
	text-decoration: none;
	display: inline-flex;
	color: #333;
	padding: 10px 25px;
}

 a:hover {
	
	color: #e8ba8a;
}
.icon {
	display: none;
}

/*end of nav*/
/*---------------------------------------------------------------------*/
/*section 0*/

#section0 {
	background-color: white;
	width: 100%;
   padding-top: 10px;
	height: 1200px;
}


#section0 img {
	position: relative;
	top: 40px;
	float: left;
	left: 35px;
	max-width: 100%;


}

#ph1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	
	color: #333;
}

#p-p {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

#tsb  {
	width: 400px;
	text-align: left;
	position: relative;
	bottom: 87%;
	left: 63%;

}


#tsb p {
	position: relative;
	top: 30px;
	font-size: 18px;
	font-family: 'Barlow', sans-serif;

}

#tsb img {
	width: 500px;
	height: 300px;
	position: absolute;
	left: -8px;
	top: 105%;
}

/*end section 0*/
/*---------------------------------------------------------------------*/
/*section 1*/
#section1 {
	height: 1200px;
	background: white;
	padding-top: 10px;
}

#section1 img {

	position: relative;
	top: 40px;
	float: left;
	left: 35px;
	max-width: 100%;


}
#ex-sec{
	position: relative;
	top: 40px;
	margin-left: 20px;
}

#ex-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 45px;
	right: 9.5%;
}


#ex-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 950px;
	left: 63%;
}

#ex-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 41%;
	left: 63%;
}

/*end section 1*/
/*---------------------------------------------------------------------*/
/*section 2*/
#section2 {
	height: 1200px;
	background: white;
	padding-top: 40px;
}

#section2 img {

	position: relative;
	top: 40px;
	float: left;
	left: 35px;
	max-width: 100%;


}
#af-sec{
	
	margin-left: 20px;
}

#af-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 45px;
	left: 4%;
	text-align: left;
}

#af-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 952px;
	left: 63%;
}

#af-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 348%;
	left: 63%;
}

/*end section 2*/
/*---------------------------------------------------------------------*/
/*section 3*/

#section3 {
	height: 1200px;
	background: white;
	padding-top: 30px;

}

#section3 img {

	position: relative;
	top: 40px;
	float: left;
	left: 35px;
	max-width: 100%;


}
#dg-sec {
	margin-left: 20px;
}

#dg-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 59px;
	left: 4%;
	text-align: left;
}

#dg-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 950px;
	left: 63%;
}

#dg-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 491%;
	left: 63%;
}
/*end section 3*/
/*---------------------------------------------------------------------*/
/*showreel*/

#showreel {
	width: 100%;
	height: 700px;
	margin-top: -30px;
}
video#show {
	
	max-width: 100%;
	margin-left: 30px;

}
#h1sh {
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
	color: #333;
}

/*---------------------------------------------------------------------*/

img#imgcol1 {
	width: 350px;
	height: 50px;
	margin-top: 330px;



}

img#imgcol2 {
	width: 350px;
	height: 50px;
	margin-top: 400px;
}

img#imgcol3 {
	width: 270px;
	height: 50px;
	margin-top: 400px;
}

img#imgcol4 {
	width: 270px;
	height: 50px;
	margin-top: 400px;
}
/*---------------------------------------------------------------------*/
/*footer */


#bck2 {
	position: absolute;
	left: 45%;
	background: #333;
	color: white;
	height: 20px;
	padding: 10px 10px;
	margin-bottom: 20px;


}



#bck2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}
/*end of styles*/
/*-------------------------------------------------------------------------------------*/

/*media queries*/

@media only screen and (max-width: 420px) {

#landingpage {
	height:500px;
	width: 100%;

	

}
#limg {
	width: 300px;
	position: relative;
	left: 5%;
	top: 55%;
	border: 2px solid;
	padding: 30px;
	max-width: 100%;
}

#ebtn {
	color: #333;
	background-color: whitesmoke;
	width: 100px;
	position: relative;
	left: 33%;
	top: -120px;
	max-width: 100%;
}
#ebtn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}



/*--------------------------------------------------------------*/

	
#myMenu {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	width: 200px;
	background-color: rgba(245,245,245,0.5);
	float: right;
	left: 120px;
	position: fixed;
	z-index: 500;
	padding: 5px 0px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;


}

#myMenu img{
	display: none;
	

}

li, a {
	text-decoration: none;
	display: inline-block;
	color: #333;
	padding: 0px;
}

 a:hover {
	
	color: #e8ba8a;
}
/*-------------------------------------------------------------------------------------*/

 #home {
	background-color: white; 
	height:900px;
	width: 100%;
}

#home h1 {
	font-family: 'Nunito', sans-serif;
	position: relative;
	left: 20px;
	bottom: 490px;
	font-size: 50px;
}
#home img {
	width: 400px;
	height:250px;
	max-width: 100%;
	position: absolute;
	top: 65%;
	margin-left: 1.5%;
	
}

#c-space {
	background-color: #efe5d8;
	height: 500px;
	width: 800px;
	
}

#b1  {
	background-color: #333;
	color: white;
	position: relative;
	bottom: 100px;
	left: 10px;
}

#b2 {
	background-color: #333;
	color: white;
	position: relative;
	bottom: -75px;
	float: right;
	right: 25%;
}

#b1:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}

#b2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#home article {
	position: absolute;
	bottom: 45%;
	left: 10px;
	border-style: solid;
	border-width: 1.5px;
	
	padding: 30px;
	font-family: 'Barlow', sans-serif;
	
	width: 300px;
}
/*end home*/
/*---------------------------------------------------------------------*/
#about {
	height: 700px;
	background-color: #fefff7;
	width: 100%;
}

#about img {
	width: 400px;
	height:250px;
	max-width: 100%;
	position: absolute;
	bottom: -200px;
	left: 0px;
	

	
}



#about article {
	position: relative;
	left: 5%;
	top: 15%;
	width: 300px;


}



#hr1, #hr2 {
	width: 300px;
	color: black;
	border: solid 1px;
}

#sm-button {
	background-color: #333;
	color: white;
	position: relative;
	left: 5%;
	bottom: 80px;
	text-decoration: none;

}

#sm-button:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
	
}

/*end about*/
/*---------------------------------------------------------------------*/
#portfolio {
	background-color: white;
	height:1800px;
	width: 100%;

}

.c-space4{
	background-color: #efe5d8;
	height: 500px;
	width: 800px;
}

#p-images {
	height: 850px;
	margin-top: 45px;
	margin-bottom: 40px;
}

#pimg {
	height: 200px;
	width: 300px;
	max-width: 100%;
	padding: 20px;
	position: relative;
	bottom: 400px;
	left: 5px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#pimg:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

#p-btn {
	background-color: #333;
	color: white;
	position: relative;
	text-decoration: none;
	bottom: -300px;
	left: 25%;
}
#p-btn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#porth1 {
	position: relative;
	bottom: 380px;
	left: 40px;
	font-size: 40px;
}

#contact {
	background-color: #fefff7;
	height: 500px;
	width: 100%;


}

#contact img {
	width: 500px;
	height: 200px;
	max-width: 100%;
	margin-left: 2%;
	position: relative;
	top: 150px;

}




.git {
	position: relative;
	text-align: center;
	
	width: 250px;
	height: 200px;
	left: 15%;
	padding: 20px;
	top: 5%;
	border-style: solid;
	border-width: 1.5px;
	background-color: rgba(245,245,245,0.3);
	
	

}

.git h2 {
	font-size: 35px;
	font-family: 'Barlow', sans-serif;
}

.git h3 {
	font-size: 20px;
	font-family: 'Barlow', sans-serif;
}


/*end contact
*/
/*---------------------------------------------------------------------*/
footer {
	width: 100%;
	height: 250px; 
	margin-top: px;
	background-color: #333;
}

footer h1 {
	margin-top: 50px;
	margin-left: 25%;
	color: white;
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
}

.follow-me {
	margin-top: 10px;
	margin-left: 10px;
}
#icon {
	color: white;
	font-size: 30px;
	padding: 30px 10px;
	position: relative;
	left: 35px;
	bottom: 45px;
}
#icon:hover {
	color: #586352;
}

#fm {
	width: 300px;
	position: relative;
	right: 20px;

}


/*END OF MAIN PAGE*/
/*---------------------------------------------------------------------*/


#myMenu2 {
	text-decoration: none;
	display: inline-block;
	width: 200px;
	background-color: rgba(245,245,245,0.5);
	margin-left: 50%;
	position: fixed;
	z-index: 500;
	padding: 10px 25px;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;



}

#bck {
	position: relative;
	right: 150px;
	
	color: #333;
	height: 20px;
	padding: 10px 10px;

}



#bck:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}


#myMenu2 img{
	display: none;
	

}

li, a {
	text-decoration: none;
	display: inline-flex;
	color: #333;
	padding: 10px 25px;
}

 a:hover {
	
	color: #e8ba8a;
}


/*end of nav*/
/*---------------------------------------------------------------------*/
/*section 0*/

#section0 {
	background-color: white;
	width: 100%;
   padding-top: 20px;
	height: 1300px;
	width: 420px;
}


#section0 img {
	position: relative;
	top: 30px;
	float: left;
	left: 5px;
	max-width: 100%;


}

#ph1 {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	position: relative;
	left: -2%;
	color: #333;
}

#p-p {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

#tsb  {
	width: 300px;
	text-align: left;
	position: relative;
	bottom: -5%;
	left: 5%;

}


#tsb p {
	position: relative;
	top: 30px;
	font-size: 14px;
	font-family: 'Barlow', sans-serif;
	bottom: %;

}

#tsb img {
	width: 400px;
	height: 250px;
	position: absolute;
	left: 5px;
	top: 108%;
}

/*end section 0*/
/*---------------------------------------------------------------------*/
/*section 1*/
#section1 {
	height: 1500px;
	background: white;
	padding-top: 20px;
}

#section1 img {

	position: relative;
	top: 15%;
	float: left;
	left: 10px;
	max-width: 100%;



}

#ex-sec h1 {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 170px;
	right: 35%;
}


#ex-sec p {
	width: 300px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	bottom: -200px;
	left: 5%;
}

#ex-sec img {

	width: 400px;
	height: 250px;
	position: absolute;
	
	top: 130%;
	left: 5%;
}

/*end section 1*/
/*---------------------------------------------------------------------*/
/*section 2*/
#section2 {
	height: 1400px;
	background: white;
	padding-top: 50px;
}

#section2 img {

	position: relative;
	top: 50px;
	float: left;
	left: 10px;
	max-width: 100%;


}

#af-sec h1 {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 100px;
	left: 25px;
}

#af-sec p {
	width: 300px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	bottom: -150px;
	left: 5%;
}

#af-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 455%;
	left: 5%;
}

/*end section 2*/
/*---------------------------------------------------------------------*/
/*section 3*/

#section3 {
	height: 1500px;
	background: white;
	padding-top: 50px;

}

#section3 img {

	position: relative;
	top: 0%;
	float: left;
	left: 10px;
	max-width: 100%;


}

#dg-sec h1 {
	font-size: 18px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 45px;
	left: 5%;
	text-align: left;
}


#dg-sec p {
	width: 350px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	bottom: -95px;
	left: 5%;
}

#dg-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 615%;
	left: 5%;
}
/*end section 3*/
/*---------------------------------------------------------------------*/
/*showreel*/

#showreel {
	width: 100%;
	height: 400px;
	margin-top: 70px;
}
video#show {
	width: 350px;
	max-width: 100%;
	margin-left: 10px;


}
#h1sh {
	font-size: 14px;
	text-align: left;
	font-family: 'Nunito', sans-serif;
	margin-left: 10px;
}

/*---------------------------------------------------------------------*/-------------------*/
img#imgcol1 {
	width: 350px;
	height: 50px;
	margin-top: 295px;



}

img#imgcol2 {
	width: 350px;
	height: 50px;
	margin-top: 300px;
}

img#imgcol3 {
	width: 270px;
	height: 50px;
	margin-top: 350px;
}

img#imgcol4 {
	width: 270px;
	height: 50px;
	margin-top: 400px;
}
/*---------------------------------------------------------------------*/
/*footer */


#bck2 {
	position: absolute;
	left: 25%;
	background: #333;
	color: white;
	height: 20px;
	padding: 10px 10px;
	margin-bottom: 30px;


}



#bck2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}
/*end of styles*/
/*---------------------------------------------------------------------*/

}

/* Larger than phablet (also point when grid becomes active) */
@media screen and (min-width: 1920px) {
/*--------------------------------------------------------------*/

#myMenu {
	text-decoration: none;
	display: inline-flex;
	width: 100%;
	margin-left: 30%;
	position: fixed;
	z-index: 500;
	padding: 10px 25px;
	font-family: 'Nunito', sans-serif;


}

#myMenu img{
	width: 100px;
	height: 60px;
	max-width: 100%;
	

}

li, a {
	text-decoration: none;
	display: inline-flex;
	color: #333;
	padding: 10px 25px;
}

 a:hover {
	
	color: #e8ba8a;
}

/*---------------------------------------------------------------------*/


#landingpage {
	height:900px;
	width: 100%;
	background-color: white;

	

}
#limg {
	width: 500px;
	position: relative;
	left: 35%;
	top: 35%;
	border: 2px solid;
	padding: 30px;
	max-width: 100%;
}

#ebtn {
	color: #333;
	background-color: whitesmoke;
	width: 100px;
	position: relative;
	left: 45%;
    top: -420px;
	max-width: 100%;
}
#ebtn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}



/*--------------------------------------------------------------*/
#fullpage {
	padding: 0px 50px;
}
	
#home {
	background-color: white; 
	height:600px;
	width: 100%;
}

#home h1 {
	font-family: 'Nunito', sans-serif;
	position: relative;
	left: 100px;
	bottom: 450px;
	font-size: 65px;
}

#home img {
	width: 1000px;
	height:500px;
	max-width: 100%;
	position: absolute;
	bottom: 30%;
	margin-left: 42%;
	
}

#c-space {
	background-color: #efe5d8;
	height: 500px;
	width: 900px;
	
}

#b1  {
	background-color: #333;
	color: white;
	position: relative;
	bottom: 70px;
	left: 98px;
}

#b2 {
	background-color: #333;
	color: white;
	position: relative;
	bottom: 170px;
	float: right;
	right: 22%;
}

#b1:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;;
}

#b2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#home article {
	position: absolute;
	bottom: 50%;
	left: 150px;
	border-style: solid;
	border-width: 1.5px;
	
	padding: 30px;
	font-family: 'Barlow', sans-serif;
	background-color: rgba(245,245,245,0.1);
	width: 400px;
}


/*end home*/
/*---------------------------------------------------------------------*/

#about {
	height: 800px;
	background-color: #fefff7;
	width: 100%;
}

#about img {
	width: 1000px;
	height:600px;
	max-width: 100%;
	position: absolute;
	bottom: -420px;
	left: 5%;
	

	
}



#about article {
	position: relative;
	left: 62%;
	top: 20%;
	width: 450px;


}



#hr1, #hr2 {
	width: 450px;
	color: black;
	border: solid 1px;
}

#sm-button {
	background-color: #333;
	color: white;
	position: relative;
	left: 62%;
	bottom: 190px;
	text-decoration: none;

}

#sm-button:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
	
}

/*end about*/
/*---------------------------------------------------------------------*/
#portfolio {
	background-color: white;
	height:900px;
	width: 100%;

}

.c-space4{
	background-color: #efe5d8;
	height: 500px;
	width: 800px;
	margin-left: 28px;
}

#p-images {
	height: 850px;
	margin-top: 45px;
	margin-bottom: 40px;
}

#pimg {
	height: 250px;
	width: 350px;
	max-width: 100%;
	padding: 10px 30px;
	position: relative;
	bottom: 400px;
	left: 50%;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#pimg:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

#p-btn {
	background-color: #333;
	color: white;
	position: relative;
	text-decoration: none;
	bottom: 670px;
	left: 45%;
}
#p-btn:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

#porth1 {
	position: relative;
	bottom: 380px;
	left: 160px;
}
/*end portfolio*/
/*---------------------------------------------------------------------*/

#contact {
	background-color: #fefff7;
	height: 700px;
	width: 100%;


}

#contact img {
	width: 800px;
	height: 450px;
	max-width: 100%;
	margin-left: 15%;
	position: relative;
	top: 150px;

}




.git {
	position: relative;
	text-align: center;
	
	width: 400px;
	height: 200px;
	left: 50%;
	padding: 20px;
	bottom: 30%;
	border-style: solid;
	border-width: 1.5px;
	background-color: rgba(245,245,245,0.3);
	
	

}

.git h2 {
	font-size: 35px;
	font-family: 'Barlow', sans-serif;
}

.git h3 {
	font-size: 20px;
	font-family: 'Barlow', sans-serif;
}


/*end contact
*/
/*---------------------------------------------------------------------*/

footer {
	width: 100%;
	height: 300px; 
	margin-top: px;
	background-color: #333;
}

footer h1 {
	margin-top: 50px;
	margin-left: 550px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.follow-me {
	margin-top: 20px;
	margin-left: 150px;
}
#icon {
	color: white;
	font-size: 60px;
	padding: 25px;
	position: relative;
	left: 485px;
	bottom: 45px;
}
#icon:hover {
	color: #586352;
}

#fm {
	width: 600px;
	position: relative;
	left: -100px;
}


/*END OF MAIN PAGE*/
/*---------------------------------------------------------------------*/


/*START OF PORTFOLIO PAGE*/
#myMenu2 {
	text-decoration: none;
	display: inline-flex;
	width: 100%;
	margin-left: 30%;
	position: fixed;
	z-index: 500;
	padding: 10px 25px;
	font-family: 'Nunito', sans-serif;



}

#bck {
	position: relative;
	right: 150px;
	
	color: #333;
	height: 20px;
	padding: 10px 10px;

}



#bck:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}


#myMenu2 img{
	width: 100px;
	height: 60px;
	max-width: 100%;
	

}

li, a {
	text-decoration: none;
	display: inline-flex;
	color: #333;
	padding: 10px 25px;
}

 a:hover {
	
	color: #e8ba8a;
}


/*end of nav*/
/*---------------------------------------------------------------------*/
/*section 0*/

#section0 {
	background-color: white;
	width: 100%;
   	padding-top: 10px;
	height: 1200px;
}


#section0 img {
	position: relative;
	top: 40px;
	float: left;
	left: 70px;
	max-width: 100%;


}

#ph1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	
	color: #333;
}

#p-p {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

#tsb  {
	width: 400px;
	text-align: left;
	position: relative;
	bottom: 87%;
	left: 63%;

}


#tsb p {
	position: relative;
	top: 30px;
	font-size: 18px;
	font-family: 'Barlow', sans-serif;

}

#tsb img {
	width: 500px;
	height: 300px;
	position: absolute;
	left: -8px;
	top: 105%;
}

/*end section 0*/
/*---------------------------------------------------------------------*/
/*section 1*/
#section1 {
	height: 1200px;
	background: white;
	padding-top: 10px;
}

#section1 img {

	position: relative;
	top: 40px;
	float: left;
	left: 70px;
	max-width: 100%;


}
#ex-sec{
	position: relative;
	top: 40px;
	margin-left: 20px;
}

#ex-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 45px;
	right: 4%;
}


#ex-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 950px;
	left: 63%;
}

#ex-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 41%;
	left: 63%;
}

/*end section 1*/
/*---------------------------------------------------------------------*/
/*section 2*/
#section2 {
	height: 1200px;
	background: white;
	padding-top: 40px;
}

#section2 img {

	position: relative;
	top: 40px;
	float: left;
	left: 70px;
	max-width: 100%;


}
#af-sec{
	
	margin-left: 20px;
}

#af-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 45px;
	left: 19%;
	text-align: left;
}

#af-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 952px;
	left: 63%;
}

#af-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 310%;
	left: 63%;
}

/*end section 2*/
/*---------------------------------------------------------------------*/
/*section 3*/

#section3 {
	height: 1200px;
	background: white;
	padding-top: 30px;

}

#section3 img {

	position: relative;
	top: 40px;
	float: left;
	left: 70px;
	max-width: 100%;


}
#dg-sec {
	margin-left: 20px;
}

#dg-sec h1 {
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #333;
	position: relative;
	top: 59px;
	left: 18%;
	text-align: left;
}

#dg-sec p {
	width: 400px;
	text-align: left;
	position: relative;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	bottom: 950px;
	left: 62%;
}

#dg-sec img {

	width: 450px;
	height: 300px;
	position: absolute;
	left: -10px;
	top: 435%;
	left: 62%;
}
/*end section 3*/
/*---------------------------------------------------------------------*/
/*showreel*/

#showreel {
	width: 100%;
	height: 700px;
	margin-top: -30px;
}
video#show {
	
	max-width: 100%;
	margin-left: 30px;

}
#h1sh {
	font-size: 30px;
	font-family: 'Nunito', sans-serif;
	color: #333;
}

/*---------------------------------------------------------------------*/

img#imgcol1 {
	width: 350px;
	height: 50px;
	margin-top: 330px;



}

img#imgcol2 {
	width: 350px;
	height: 50px;
	margin-top: 400px;
}

img#imgcol3 {
	width: 270px;
	height: 50px;
	margin-top: 400px;
}

img#imgcol4 {
	width: 270px;
	height: 50px;
	margin-top: 400px;
}
/*---------------------------------------------------------------------*/
/*footer */


#bck2 {
	position: absolute;
	left: 45%;
	background: #333;
	color: white;
	height: 20px;
	padding: 10px 10px;
	margin-bottom: 20px;


}



#bck2:hover {
	color:white;
	text-decoration: none;
	background-color: #586352;
}

}









